from andrew.connector.telegram import TelegramConnector


class LocalConfig:
    DEBUG = True

    LOG_TO_FILE = True
    LOG_FILENAME = 'bot.log'

    PLUGINS_PATH = 'plugins'
    STORAGE_PATH = 'storage'

    COMMAND_SYMBOL = '/'

    ADMINS = []

    CONNECTIONS = {
        'telegram': {
            'token': 'REPLACE_ME'
        },
    }
